<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565995859325-1528ve96hs19uk96ebfgrrtdncpk9uvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565995859325-1528ve96hs19uk96ebfgrrtdncpk9uvj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565995859325-0nq3bfgm5b2kfbbohss3jmnu31l2k9jg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPP24-I6QfoJkqO54Zj2ofMNaKaqjJQts</string>
	<key>GCM_SENDER_ID</key>
	<string>565995859325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shukansi.somm</string>
	<key>PROJECT_ID</key>
	<string>deating332</string>
	<key>STORAGE_BUCKET</key>
	<string>deating332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565995859325:ios:ad018cfe88ed2553007014</string>
	<key>DATABASE_URL</key>
	<string>https://deating332-default-rtdb.firebaseio.com</string>
</dict>
</plist>